*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  background-color: white;
  width: 100%;
}

/*font specs*/

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 300;
  letter-spacing: .1rem;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2;
}

h2 {
  font-size: 10rem;
  color: #9B6E9A;
  font-weight: bold;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .5rem;
  font-size: 3.6rem;
}

h6{
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
}


.container{
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }

  section {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  a:link, a:visited{
    color: black;
    text-decoration: none;
  }

  a:hover{
    color: #FED180;
    text-decoration: none;
  }

/*navbar specs*/

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Roboto, sans-serif;
    font-size: 2.4rem;
    height: auto;
    width: 100%;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
    }


.logo img{
      justify-content: left;
      height: 60px;
      width: 60px;
    }

li.about, li.logo, li.work, li.resume{
      justify-content: flex-end;
      display: flex;
      text-align: center;
      font-size: 1.6rem;
      flex-grow: 1;
      min-width: 10rem;
}


li.logo {
      flex-grow:40;
      justify-content: left;
}



.herotop{
  height: 6.5rem;
  padding-top:2rem;
  padding-left:4rem;
  justify-content: left;
}

.herobottom{
  background-color: #9B6E9A;
  color:white;
  height:auto;
  padding-top:10%;
  padding-left:20%;
  padding-right:20%;
  padding-bottom: 0px;
  justify-content: center;
  line-height: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.arrow img{
  padding-top: 45px;
  padding-bottom: 10px;
}

.recent{
  padding: 8rem 8rem;
}

.stoMain img{
  width: 50rem;
  height: auto;
}

.stoTitle {
  height: auto;
  justify-content: center;
  align-items:center;
  align-content: center;
  text-align: center;
  font-weight: 300;
  font-size: 5rem;
  padding:2rem;
}

.stoContent{
  padding-bottom:50px;
  padding-left: 25%;
  padding-right: 25%;
}


.herotext{
  font-weight: 500;
  font-size: 9rem;
  color: #9B6E9A;
  text-align: left;
}

.viewcasestudy{
  padding: 8rem;
  padding-top:.0rem;
}

button {
  background-color: rgba(254, 209, 128, 60%);
  border: none;
  border-radius: 24px;
  color: black;
  display: inline-block;
  font-size: 16px;
  letter-spacing: .15rem;
  font-family: 'PT Sans', sans-serif;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  width: 240px;
}

.footerbox{
  background-color: rgba(89,14,86,40%);
  padding: 4rem 8rem;
  padding-bottom: 2rem;
  height: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width:100%;
}

.footcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  font-family: Roboto, sans-serif;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.social{
  padding: 10px;
  justify-content: center;
}

li.mail, li.github, li.linkedin{
      padding:5px;
      display: flex;
      min-width: 1.6rem;
      width: auto;
      height: 50px;
}

.footer{
  letter-spacing: .2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

.connect {
  letter-spacing: .5rem;
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 400;
}

.texttop .textbelow{

  justify-content: center;
  text-align: center;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

  ul{
      display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
  }

  /*navbar*/
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }

  li.about, li.work, li.resume{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  li.logo {
    width: 100%;
    padding-bottom: 3rem;
    justify-content: center;
  }

  /*Hero section*/

  .herotop{
    height: 10.35rem;
    padding-top:3rem;
  }

  .herobottom{
    height: auto;
    line-height: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .2rem;
    padding: 4rem;
  }

  .herotext{
    font-size: 5rem;
    text-align: left;
    color: #9B6E9A;
    padding:0 3rem;
    padding-bottom: 0rem;
  }

  .arrow img{
    padding:0;
    padding-bottom: 10px;
  }

  .stoMain img{
    justify-content: center;
    width:300px;
    height:auto;
  }

  .stoLogo img{
    justify-content: center;
    height: 4rem;
    width: auto;
  }

  .stoTitle {
    justify-content: center;
    height: auto;
    font-weight: 300;
    font-size: 3rem;
    padding: 2rem 4rem;
  }

  .stoContent{
    justify-content: center;
    padding: 2rem 5rem;
    padding-top: 0;
  }

  .viewcasestudy{
    padding: 8rem;
    padding-top:2rem;
  }

  button {
    font-size: 1.4rem;
  }

  .connect{
    letter-spacing: 0rem;
    font-size: 3rem;
  }

  .footerbox{
    padding: 4rem;
    height: auto;
  }


  .footcontainer{
    display: flex;
  }

  .textbelow {
    padding: 0 3rem;
  }

}
